/* Variables */
$border-color: #ccc;
$background-color: #fff;
$box-shadow-color: rgba(0, 0, 0, 0.1);

/* Styles for the datepicker container */
.datepicker-container {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1;
    display: none;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    box-shadow: 0 2px 4px $box-shadow-color;
}

.datepicker-visible {
    display: block;
}

/* Styles for the datepicker UI */
.datepicker-ui {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

/* Styles for the navigation buttons */
.datepicker-ui button {
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

/* Styles for the selected date display */
.datepicker-ui div {
    font-size: 16px;
    font-weight: bold;
}

.flatpickr-day.selected {
    @apply bg-primary border-primary;

    &:hover {
        @apply bg-primary border-primary sm:bg-inherit;
    }
}

.flatpickr-calendar {
    @apply rounded-md;
}