/* Ubuntu Regular */
@font-face {
    font-family: 'Ubuntu Sans';
    src: url('./fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Ubuntu Light */
@font-face {
    font-family: 'Ubuntu Sans';
    src: url('./fonts/ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Ubuntu Regular */
@font-face {
    font-family: 'Ubuntu Sans';
    src: url('./fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Ubuntu Medium */
@font-face {
    font-family: 'Ubuntu Sans';
    src: url('./fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Ubuntu Bold */
@font-face {
    font-family: 'Ubuntu Sans';
    src: url('./fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}