@mixin dark {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}

@mixin xl {
    @media (max-width: 1280px) {
        @content;
    }
}

/* universal components */
table.styled-table {
    width: 100%;
    min-width: max-content;
    overflow-x: auto;
    text-align: left;
    border-radius: 0.75rem
        /* 12px */
    ;

    thead {
        background-color: var(--white);

        @include dark {
            background-color: var(--grey-800);
        }

        th {
            padding: .5rem 1rem;
        }
    }

    tbody {
        tr {
            background-color: var(--white);

            td {
                padding: .5rem 1rem;
            }
        }
    }

    &.last-unique tr:last-of-type {
        background-color: transparent;
    }
}

table.plain {
    text-align: left;

    th,
    td {
        padding: .25rem .5rem;
    }
}

table.basic {
    text-align: left;
    // border-collapse: collapse;
    border: 1px solid black;

    th,
    td {
        padding: .1rem .25rem;
        align-items: center;
        border: 1px solid black;
    }
}

table.table-1 {
    width: max-content;
    min-width: 100%;
    overflow-x: auto;
    text-align: left;
    border-radius: 0.75rem;

    @include dark {
        background-color: var(--grey-900);
    }

    tr {
        background-color: var(--white);
        border-top-width: 10px;
        border-bottom-width: 10px;
        border-top-color: var(--grey-50);
        border-bottom-color: var(--grey-50);

        @include dark {
            background-color: var(--grey-800);
            border-top-color: var(--grey-900);
            border-bottom-color: var(--grey-900);
        }
    }

    thead tr {
        th {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }

    td,
    th {
        padding: .75rem 1rem;

        &:first-child {
            border-top-left-radius: 1rem
                /* 16px */
            ;
            border-bottom-left-radius: 1rem
                /* 16px */
            ;
        }

        &:last-child {
            border-top-right-radius: 1rem
                /* 16px */
            ;
            border-bottom-right-radius: 1rem
                /* 16px */
            ;
        }
    }
}

table.table-2 {
    width: max-content;
    min-width: 100%;
    border-radius: 0.375rem
        /* 6px */
    ;

    &.w-full {
        width: 100%;
    }

    thead {
        background-color: var(--white);
        border-top-width: 1px;
        border-color: var(--grey-200);

        @include dark {
            background-color: var(--grey-800);
            border-color: var(--grey-700);
        }

        th {
            padding: .25rem .5rem;
            border: 1px solid var(--grey-200);

            @include dark {
                border: 1px solid var(--grey-600);
            }
        }
    }

    tbody {
        tr {
            background-color: var(--white);

            @include dark {
                background-color: var(--grey-900);
            }

            &:nth-of-type(odd) {
                background-color: var(--grey-50);

                @include dark {
                    background-color: var(--grey-800);
                }
            }

            td {
                padding: .25rem .5rem;
                border: 1px solid var(--grey-200);

                @include dark {
                    border: 1px solid var(--grey-600);
                }

                input {
                    background-color: transparent;
                    max-width: 100%;
                    outline: 0px solid transparent;
                    border: 0px solid transparent;

                    &:focus-within {
                        outline: 0px solid transparent;
                        border: 0px solid transparent;
                        background-color: var(--grey-300);

                        @include dark {
                            background-color: var(--grey-700);
                        }
                    }
                }
            }
        }
    }
}

table.table-2-print {
    width: 100%;
    border-radius: 0.375rem
        /* 6px */
    ;

    thead {
        background-color: rgb(255 255 255 / 0.5);
        border-top-width: 1px;
        border-color: var(--grey-200);

        th {
            padding: .5rem 1rem;
        }
    }

    tbody {
        tr {
            background-color: rgb(252 252 252 / 0.4);

            &:nth-of-type(odd) {
                background-color: rgb(245 245 245 / 0.4);
            }
        }

        td {
            padding: .5rem 1rem;

            input {
                background-color: transparent;
                width: 100%;

                &:focus-within {
                    outline: 2px solid transparent;
                }
            }
        }
    }
}


table.item-table {
    thead {
        background-color: var(--grey-300);
        border-top-left-radius: 0.375rem
            /* 6px */
        ;
        border-top-right-radius: 0.375rem
            /* 6px */
        ;

        @include dark {
            background-color: var(--grey-800);
        }

        th {
            text-align: left;
            padding: .5rem 1rem;
            outline: 1px solid var(--grey-300);

            @include dark {
                outline: 1px solid var(--grey-700);
            }
        }
    }

    tbody {
        tr {
            background-color: var(--grey-50);

            @include dark {
                background-color: var(--grey-900);
            }

            td {
                padding: .5rem 1rem;
                outline: 1px solid var(--grey-200);

                @include dark {
                    outline: 1px solid var(--grey-700);
                }

                input {
                    background-color: transparent;
                    width: 100%;

                    &:focus-within {
                        outline: 2px solid transparent;
                    }
                }
            }
        }
    }
}

table.form-table {
    text-align: left;

    tr {
        border-bottom-width: 1px;
        background-color: var(--white);
        padding: 1rem;
        border-radius: .5rem;

        @include dark {
            background-color: var(--grey-800);
        }

        th,
        td {
            padding: 1rem;
        }
    }
}

main.table {
    width: 100%;
    border-radius: .8rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    align-content: start;
    align-items: stretch;

    .table__header {
        width: 100%;
        height: 100%;
        padding: .8rem 1rem;

        background-color: var(--white);

        @include dark {
            background-color: var(--grey-900);
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        .input-group {
            width: 35%;
            height: 100%;
            background-color: var(--grey-200);

            @include dark {
                background-color: var(--grey-800);
            }

            padding: .5rem 1rem;
            border-radius: 2rem;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: .2s;

            &:hover {
                width: 45%;
            }

            i {
                font-size: 1.2rem;
            }

            input {
                width: 100%;
                padding: 0 .5rem;
                background-color: transparent;
                border: none;
                outline: none;
            }
        }

        .export__file {
            position: relative;

            &-btn {
                display: inline-block;
                width: 2rem;
                height: 2rem;
                background: #fff6 url(images/export.png) center / 80% no-repeat;
                border-radius: 50%;
                transition: .2s ease-in-out;

                &:hover {
                    background-color: #fff;
                    transform: scale(1.15);
                    cursor: pointer;
                }
            }

            &-options {
                position: absolute;
                right: 0;

                width: 12rem;
                border-radius: .5rem;
                overflow: hidden;
                text-align: center;

                opacity: 0;
                transform: scale(.8);
                transform-origin: top right;

                box-shadow: 0 .2rem .5rem #0004;

                transition: .2s;
                pointer-events: none;

                header {
                    background-color: var(--white);

                    @include dark {
                        background-color: var(--black);
                    }

                    padding: .5rem 1rem;
                }

                button {
                    width: 100%;
                    padding: .6rem 1rem;
                    background-color: #f2f2f2;

                    @include dark {
                        background-color: var(--grey-800);
                    }

                    display: flex;
                    justify-content: space-between;
                    align-items: center;


                    transition: .2s ease-in-out;

                    &:hover {
                        transform: scale(1.05);
                        background-color: #fff;

                        @include dark {
                            background-color: var(--black);
                        }

                        cursor: pointer;
                    }
                }

                img {
                    width: 2rem;
                    height: auto;
                }

                &.show {
                    opacity: 1;
                    transform: scale(1);
                    z-index: 100;
                    pointer-events: all;
                }
            }
        }
    }

    .table__body {
        max-width: 100%;
        max-height: 80vh;
        border-top: 1px solid var(--grey-50);

        @include dark {
            border-top: 1px solid var(--grey-950);
        }

        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: .5rem;
            background-color: rgba(0, 0, 0, 0.267);

            @include dark {
                background-color: rgba(255, 255, 255, 0.304);
            }

            visibility: hidden;

            &:hover {
                background-color: var(--black);

                @include dark {
                    background-color: var(--white);
                }
            }
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                visibility: visible;
            }
        }

        table,
        th,
        td {
            border-collapse: collapse;
            padding: 1rem;
            text-align: left;
        }

        th.right,
        td.right {
            text-align: right;
        }

        table {
            width: 100%;

            thead {
                // z-index: 20;

                tr {
                    position: sticky;
                    top: 0;

                    th {
                        background-color: var(--grey-900);
                        color: var(--grey-50);
                        cursor: pointer;
                        text-transform: capitalize;

                        &:hover {
                            color: var(--primary);

                            span.icon-arrow {
                                border: 1px solid var(--primary);
                            }
                        }

                        &.active {
                            color: var(--primary);

                            .icon-arrow {
                                background-color: var(--primary);
                                color: #fff;
                            }
                        }

                        &.asc {
                            .icon-arrow {
                                transform: rotate(180deg);
                            }
                        }

                        .icon-arrow {
                            display: inline-flex;
                            place-content: center;
                            width: 1.3rem;
                            height: 1.3rem;
                            border-radius: 50%;
                            border: 1.4px solid transparent;

                            text-align: center;
                            font-size: 1rem;

                            margin-left: .5rem;
                            transition: .2s ease-in-out;
                        }
                    }
                }
            }

            tbody {

                tr {
                    --delay: .1s;
                    transition: .5s ease-in-out var(--delay), all 0s;

                    &:nth-child(even) {
                        background-color: rgb(250, 250, 250);

                        @include dark {
                            background-color: var(--grey-800);
                        }
                    }

                    &:nth-child(odd) {
                        background-color: rgb(240, 240, 240);

                        @include dark {
                            background-color: var(--grey-700);
                        }
                    }

                    &:hover {
                        background-color: var(--white);

                        @include dark {
                            background-color: var(--grey-950);
                        }
                    }

                    &.hide {
                        opacity: 0.5;
                        /* transform: translateX(100%); */
                        height: 1px;
                        overflow: hidden;
                        font-size: 1px;

                        * {
                            position: absolute;
                        }

                        td,
                        td p,
                        i {
                            padding: 0;
                            height: 0;
                            overflow: hidden;
                            transition: .2s ease-in-out .5s;
                        }

                        td img {
                            width: 0;
                            height: 0;
                            transition: .2s ease-in-out .5s;
                        }
                    }

                    td,
                    td p,
                    td img {
                        transition: .2s ease-in-out;
                    }

                    td {
                        &.active {
                            color: var(--primary);
                        }

                        img {
                            width: 3rem;
                            height: 3rem;
                            margin-right: .5rem;
                            border-radius: 50%;

                            vertical-align: middle;
                        }
                    }
                }

            }
        }
    }
}