.ttl {
    @apply text-black font-medium;
}

.title {
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    @extend .ttl;
}
.title-2 {
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    @extend .ttl;
}
.title-3 {
    font-size: 1.875rem /* 30px */;
    line-height: 2.25rem /* 36px */;
    @extend .ttl;
}
.title-4 {
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
    @extend .ttl;
}
.title-5 {
    font-size: 3rem /* 48px */;
    line-height: 1;
    @extend .ttl;
}