{% load partials %}

{% partialdef project %}
<div class="bg-lighter rounded-xl p-4 hover:shadow shadow-grey @container" id="project-{{ project.pk }}">
    <div class="flex items-center justify-between mb-4">
        <div class="flex items-center">
            <div class="bg-amber-200 rounded-lg w-16 h-16 grid place-content-center">
                <i class="fa-solid fa-bars-progress text-2xl text-amber-700"></i>
            </div>
            <div class="ml-3">
                <h2 class="text-lg font-semibold">{{ project.title }}</h2>
                <p class="text-sm">{{ project.description }}</p>
            </div>
        </div>
        <div class="grid @3xl:grid-flow-col @md:gap-3 items-center">
            <!-- <c-ui.button text="Active" icon="far fa-circle-dot" size="sm" variant="outline-green" /> -->
            <!-- <span class="bg-green-100 text-green-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded"></span> -->
            <div class="rounded-md border border-green-500 text-green-600 bg-green-100 p-2 @2xl:py-1 flex items-center gap-x-2">
                <i class="far fa-circle-dot"></i>
                <span class="hidden @2xl:grid">Active</span>
            </div>
            <a href="{% url 'Projects:detail' project.pk %}" class="hidden @4xl:grid">
                <c-ui.button text="View" variant="outline-primary" icon="far fa-eye" size="sm" />
            </a>
        </div>
    </div>
    <div class="flex gap-4 text-center">
        <div class="bg-orange-200 rounded-lg w-16 h-16 hidden @lg:grid place-content-center opacity-0">
            <i class="fa-solid fa-bars-progress text-2xl text-orange-800"></i>
        </div>
        <div class="grid grid-cols-2 @xl:grid-cols-3 @2xl:grid-cols-4 @4xl:grid-flow-col @4xl:grid-cols-none flex-1 justify-stretch">
            <div class="grid justify-start text-left py-4 border-t-2 border-r-2 border-light">
                <p class="text-2xl font-bold">687</p>
                <p class="text-sm">Items</p>
            </div>
            <div class="grid justify-start text-left p-4 border-t-2 @2xl:border-r-2 border-light">
                <p class="text-2xl font-bold">563</p>
                <p class="text-sm">Items Done</p>
            </div>
            <div class="grid justify-start text-left py-4 @xl:px-4 border-t-2 border-r-2 @xl:border-l-2 @xl:border-r-0 border-light @2xl:border-l-0 @2xl:border-r-2">
                <p class="text-2xl font-bold">50%</p>
                <p class="text-sm">Cleared</p>
            </div>
            <div class="grid justify-start text-left p-4 border-t-2 @xl:pl-0 @xl:border-r-2 @2xl:border-r-0 @2xl:pl-4 border-light">
                <p class="text-2xl font-bold">{{ project.customer.name }}</p>
                <p class="text-sm">Client</p>
            </div>
            <div class="flex items-center justify-between border-light col-span-2 text-gray-500 py-4 @xl:px-4 @2xl:border-t-2 @2xl:col-span-4 @2xl:pl-0 @4xl:justify-end @4xl:col-span-1 @4xl:pl-4">
                <div class="flex items-center gap-x-3">
                    <div class="flex items-center">
                        <i class="fas fa-person"></i>
                        <span>32</span>
                    </div>
                    <div class="flex items-center">
                        <svg class="w-5 h-5 mr-1" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M18 10c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8 8 3.582 8 8zm-4-1H6v2h8v-2z" />
                        </svg>
                        <span>43</span>
                    </div>
                </div>
                <div class="@4xl:hidden">
                    <a href="{% url 'Projects:detail' project.pk %}">
                        <c-ui.button text="View Project" variant="ghost" icon="fas fa-arrow-right-long" size="sm" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endpartialdef project %}

<c-layouts.base page_title="Projects">
    <div class="flex flex-wrap justify-between">
        <h2 class="title-3 mb-8">Projects page</h2>
        <form method="post" hx-post="{% url 'Projects:projects' %}" hx-swap="afterbegin" hx-target="#project_list" hx-indicator="#spinner">
            <div id="token">
                {% csrf_token %}
            </div>
            <c-ui.drawer title="New Project Form">
                <div class="grid gap-6">
                    <c-ui.form_elements.input required="True" label="Name" name="name" type="text" placeholder="Give the project a name" />
                    <c-ui.form_elements.textarea label="Description" name="description" placeholder="Describe the project." />
                </div> 
                <div class="grid gap-6 mt-12">
                    <!-- customer select -->
                    <div x-data="{
                        customer: {
                            name: '',
                            email: '',
                            contact: '',
                            contact_2: ''
                        },
                        customer_form: false,
                        async handleSave(){
                            if (!this.customer.name.length > 1 || !this.customer.contact.length >= 4) {
                                alert('Please give a valid name and a valid contact')
                            }
                            const response = await POST('{% url 'api:create_customer' %}', this.customer, true)
                            if (response.ok) {
                                const data = await response.json() 
                                // add placeholder strings that will be replaced
                                let template_string = this.$refs.option_template.innerHTML
                                console.log(template_string)
                                // replace the placeholders with the right info
                                template_string = template_string.replace('rep_value', data.id)
                                template_string = template_string.replace('rep_text', data.name)
                                template_string = template_string.replace('rep_search_values', `${data.contact} ${data.contact_2} ${data.email}`)

                                console.log(template_string)

                                // get available options
                                let all_options_div = document.querySelector('.customer_select .all_options')
                                let new_inner_html = template_string + all_options_div.innerHTML
                                // replace the innerhtml 
                                all_options_div.innerHTML = new_inner_html
                                // close the form
                                this.customer_form = false
                            } else {console.error(response.error)}
                        }
                    }">
                        <div x-ref="option_template" class="hidden">
                            <c-ui.form_elements.select2.option value='rep_value' search_values='rep_search_values' text='rep_text' />
                        </div>
                        <c-ui.form_elements.select2.select required="True" label="Customer" name="customer" id="customer_select" action="True" action_icon="fas fa-plus text-green-600" click_commands="customer_form = true" class="customer_select">
                            <c-slot name="options">
                                {% for customer in customers %}
                                <c-ui.form_elements.select2.option value="{{ customer.pk }}" search_values="{{ customer.email }}{{ customer.contact }}{{ customer.contact_2 }}" text="{{ customer.name }}" />
                                {% endfor %}
                            </c-slot>
                        </c-ui.form_elements.select2.select>
                        <!-- customer create form -->
                         <div class="rounded-lg p-4 mt-2 border border-gray-400 bg-gradient-to-b from-white to-gray-50" x-show="customer_form" x-cloak x-collapse>
                            <div class="flex items-center justify-between mb-4">
                                <h3 class="font-semibold">Add a new customer</h3>
                                <button type="button" @click="customer_form = false" class="text-gray-500 hover:text-red-500 text-xl">
                                    &times;
                                </button>
                            </div>
                            <div class="grid gap-3">
                                <c-ui.form_elements.input label="Name" type="text" placeholder="Give the customer a name" vars='x-model="customer.name"' field_class="bg-white" />
                                <c-ui.form_elements.input label="Email" type="email" placeholder="Enter the customer's email" vars='x-model="customer.email"' field_class="bg-white" />
                                <c-ui.form_elements.input label="Contact" type="tel" placeholder="Enter the customer's contact number" vars='x-model="customer.contact"' field_class="bg-white" />
                                <c-ui.form_elements.input label="Other Contact" type="tel" placeholder="Enter the customer's other contact number" vars='x-model="customer.contact_2"' field_class="bg-white" />
                                <c-ui.button text="Save new customer" icon="fas fa-save" size="base" vars='@click="handleSave()"' />
                            </div>
                         </div>
                    </div>
                    <c-ui.form_elements.input label="CTC" name="cost_to_customer" type="number" placeholder="Project Cost to Customer" />
                </div>

                <c-slot name="footer">
                    <div class="hidden sticky top-0" id="spinner">
                        <div class="animate-spin aspect-square w-32 h-32 grid place-content-center mx-auto">
                            <i class="fas fa-spinner text-xl"></i>
                        </div>
                    </div>
                    <c-ui.button text="Save" type="submit" icon="fas fa-save" size="base" variant="primary" />
                </c-slot>
            </c-ui.drawer>
        </form>
    </div>
    <div class="grid gap-y-6 bg-light rounded-xl p-6">
        <div class="flex justify-between items-end">
            <h3 class="title-2">Ongoing Projects</h3>
            <p>{{ projects.count }} project{% if projects.count > 1 %}s{% endif %}</p>
        </div>
        <div class="grid" id="project_list">
            {% for project in projects %}{% partial project %}{% endfor %}
        </div>
    </div>
</c-layouts.base>