{% extends 'accounts/base.html' %} {% load static custom_filters partials %}


{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block content %}

<div class="h-screen grid content-start">

    <!-- <header title="User Actions" class="page_header">
        <div class="flex gap-2 items-center w-max">
            <span class="font-bold text-2xl text-grey-600 dark:text-grey-500">Profile</span>
            {% if request.user == user %}
            <a href="{% url 'accounts:logout' %}" class="btn">
                <i class="fas fa-lock"></i>
                Logout
            </a>
            {% endif %}
        </div>
    </header> -->

    <main class="scroll-container">
        <div>
            <div class="grid gap-4">
                <div class="bg-white dark:bg-grey-900 rounded-md overflow-auto gap-6 flex flex-col sm:flex-row sm:flex-wrap">
                    <div class="overflow-hidden max-w-[15rem] mx-auto sm:mx-0 w-full aspect-square shadow-sm rounded-full">
                        <img src="
                        {% if user.profile_picture %}
                        {{ user.profile_picture.url }}
                        {% else %}
                        {% static 'images/profile.jpg' %}
                        {% endif %}
                        " alt="" class="object-cover">
                    </div>
                    <div class="p-4 grid content-center">
                        <div class="flex gap-4 mb-4">
                            <div class="">
                                <h1 class="">Name: <span class="font-semibold">
                                        {{ user.get_full_name }}</span>
                                </h1>
                                <p>Username: <span class="font-semibold">{{ user.username }}</span></p>
                                <p>Last login:
                                    <span class="font-semibold">{{ user.last_login }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="flex gap-4 items-center">
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:{{ user.email }}" class="hover:text-primary">{{ user.email }}</a>
                        </div>
                        <div class="flex gap-4 items-center">
                            <i class="fas fa-phone"></i>
                            <div class="flex gap-x-4 flex-wrap">
                                <a href="tel:{{ user.phone_1 }}" class="hover:text-primary">{{ user.phone_1 }}</a>
                                {% if user.phone_1 %}
                                <a href="tel:{{ user.phone_2 }}" class="hover:text-primary">{{ user.phone_1 }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards_grid grid">
                    <div class="card-basic">
                        <header>
                            <h2 class="font-semibold">Wages</h2>
                        </header>
                        <div class="body grid gap-2 mt-4 max-h-[50vh] overflow-auto scroller">
                            {% for wage in wages %}
                            <div class="grid">
                                <div class="flex justify-between gap-4 items-center">
                                    <div>
                                        <h3 class="font-semibold">{{ wage.wageNumber }}</h3>
                                        <p class="text-sm text-grey-700 dark:text-grey-500">{{ wage.jobcard.vehicle.plate_number }} {{ wage.jobcard.jobNumber }}</p>
                                    </div>
                                    <div>
                                        <p class="text-right">{{ wage.amount|add_commas }}/=</p>
                                        <p class="text-sm text-grey-700 dark:text-grey-500">{{ wage.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <footer>
                            <p>Total: <span>{{ total_wages|add_commas }} /=</span></p>
                        </footer>
                    </div>
                </div>
                <!-- <div class="rounded-md flex-1 xl:col-span-2 2xl:col-span-3">
                    <div class="flex flex-wrap gap-4">
                        <button class="icon-card green" @click="$refs.loanForm.showModal()">
                            <i class="icon fa-solid fa-hand-holding-dollar"></i>
                            <span>Request a loan</span>
                        </button>
                    </div>
                </div> -->
            </div>
        </div>
    </main>

    <dialog x-ref="loanForm">
        <div class="dialog_form">
            <button class="w-fit p-4 rounded-full mx-auto" @click="$refs.loanForm.close()">
                <i class="fa-solid fa-xmark text-2xl"></i>
            </button>
            {% include 'financing/components/loan_request_form.html' %}
        </div>
    </dialog>

</div>

{% endblock content %}