<div class="grid {{ class }}" x-data>
    {% if label %}
    <label for="name" class="block text-sm font-bold text-gray-800 mb-2">{{ label }} {% if required %}<span class="text-red-500">*</span>{% endif %}</label>
    {% endif %}
    <div class="flex items-center border-b-2 border-gray-300 transition-all hover:border-gray-400 focus-within:border-primary focus-within:hover:border-primary {{ field_class }}">
        {% if icon %}
        <div class="h-12 w-12 grid place-content-center"><i class="{{ icon }} text-grey-500"></i></div>
        {% else %}
        <div class="p-0"></div>
        {% endif %}
        <input type="{{ type }}" name="{{ name }}" id="{{ id }}" placeholder="{{ placeholder }}" value="{{ value }}" 
            class="h-12 ring-transparent focus-within:outline-none text-sm flex-1 mr-2 bg-transparent w-full {{ input_class }}" 
            {{ vars|safe }} {% if required %}required{% endif %} {{ attrs }}>
    </div>
    {% if errors %}
    <p class="text-red-600">{{ errors }}</p>
    {% endif %}
</div>