<div class="grid {{ class }}">
    {% if label %}
    <label for="name" class="block text-sm font-medium text-gray-700">{{ label }} {% if required %}<span class="text-red-500">*</span>{% endif %}</label>
    {% endif %}
    <div class="flex items-center ring-1 ring-gray-300 hover:ring-gray-400 focus-within:ring-black focus-within:hover:ring-black rounded-md">
        {% if icon %}
        <div class="h-12 w-12 grid place-content-center"><i class="{{ icon }} text-grey-500"></i></div>
        {% else %}
        <div class="p-1"></div>
        {% endif %}
        <select name="{{ name }}" id="{{ id }}" class="h-12 ring-transparent focus-within:outline-none text-sm flex-1 mr-2 bg-transparent" placeholder="{{ placeholder }}" {{ vars|safe }} {% if required %}required{% endif %}>
            <option value="">--------</option>
            {{ slot }}
        </select>
        {% if action %}
        <button type="button" class="h-12 w-12 grid place-content-center" {{ action_vars|safe }}><i class="text-primary {{ action_icon }}"></i></button>
        {% endif %}
    </div>
</div>