
<form action="{{ action }}" method="{% if method %}{{ method }} {% else %}post{% endif %}" id="{{ id }}" class="rounded-xl bg-white p-6 w-full max-w-[35rem] shadow-md {{ class }}">
    <header>
        <h2 class="mb-9 text-2xl text-gray-700">{% if title %}{{ title }}{% else %}Form{% endif %}</h2>
    </header>
    {% csrf_token %}
    <div class="grid gap-y-2">{{ slot }}</div>
    <footer class="flex gap-x-3 mt-6 justify-end {{ footer_class }}">
        {{ footer }}
        {% if not no_action %}
        <c-ui.button text="{% if action_text %}{{ action_text }}{% else %}Submit{% endif %}" icon="fas fa-save" type="submit" class="" />
        {% endif %}
    </footer>
</form>
