{% extends 'Projects/project/project_detail_page.html' %}
{% load static custom_filters %}

{% block slot %}
<div>
    <div class="@container grid gap-6 p-6 rounded-lg bg-lighter">
        <div class="flex gap-x-6 gap-y-3 justify-end">
            <form action="" method="post">
                <c-ui.drawer title="Add an expense">
                    <c-slot name="trigger_button">
                        <c-ui.button id="{{ button_id }}" text="Add an expense" icon="fas fa-plus" variant="ghost" size="md" @click="open = true" />
                    </c-slot>

                    {% csrf_token %}
                    <div class="grid gap-y-3" x-ref="form_fields">
                        <div>
                            <c-ui.form_elements.input label="Description" name="description" x-ref="description" />
                            <p class="text-red-600 font-semibold" x-text="description_errors" x-show="description_errors"></p>
                        </div>
                        <div>
                            <c-ui.form_elements.input label="Amount" name="amount" x-ref="amount" x-mask:dynamic='$money($input)' inputmode='numeric' />
                            <p class="text-red-600 font-semibold" x-text="amount_errors" x-show="amount_errors"></p>
                        </div>
                        
                        <c-projects.categoriespicker />
                    </div>
                    
                    <c-ui.form_elements.multiselect.root data_name="expense_categories" label="Categories" />
                    <c-slot name="footer">
                        <c-ui.button text="Save" icon="fas fa-save" variant="primary" size="md" type="submit" x-bind:disabled="requiredFormsFilled" />
                    </c-slot>
                </c-ui.drawer>
            </form>
        </div>
        <div class="p-6">
        </div>
    </div>
</div>
{% endblock %}
