{% load custom_filters %}

<c-ui.table.tr id="itemRow-{{ item.pk }}" class="slide-up">
    <c-ui.table.td>{{ item.name }}</c-ui.table.td>
    <c-ui.table.td class="hidden @3xl:table-cell">{{ item.type.name }}</c-ui.table.td>
    <c-ui.table.td class="hidden @4xl:table-cell">{{ item.code }}</c-ui.table.td>
    <c-ui.table.td>
        {% if item.costing_method == 'PU' %}{{ item.get_unit_name_display }} ({{ item.unit_name }})
        {% else %}
        <span>({{ item.min_height }} x {{ item.min_length }})</span>
        <span>-</span>
        <span>({{ item.max_height }} x {{ item.max_length }})</span>
        {% endif %}
    </c-ui.table.td>
    <c-ui.table.td class="text-right">{{ item.fabrication_cost|add_commas }}</c-ui.table.td>
    <c-ui.table.td class="text-right">{{ item.spraying_cost|add_commas }}</c-ui.table.td>
    <c-ui.table.td>
        <div class="flex justify-end">
            <c-ui.button icon="fas fa-edit" size="icon_sm" variant="outline-grey"
                onclick="document.querySelector('#itemFormDlg-{{ item.pk }}').showModal()" />
        </div>
    </c-ui.table.td>
</c-ui.table.tr>
<c-ui.dialog id="itemFormDlg-{{ item.pk }}" btn_size="icon_sm" btn_variant="ghost" size="xl">
    <form hx-put="{% url 'LabourCostings:labor-table-edit' table.id %}"
        hx-select-oob="#itemCard-{{ item.pk }}, #itemRow-{{ item.pk }}" hx-indicator="#action_loader"
        @submit="document.querySelector('#itemFormDlg-{{ item.pk }}').close()" x-data>
        {% csrf_token %}
        <div class="@container/item">
            <div class="grid gap-4">
                <div class="grid gap-3 @sm/item:grid-cols-2 @xl/item:grid-cols-12">
                    <!-- item id -->
                    <input type="text" class="hidden" name="id" value="{{ item.pk }}">
                    <!-- name -->
                    <c-ui.form_elements.input name="name" label="Name" required="true" value="{{ item.name }}"
                        class="@sm/item:col-span-2 @xl/item:col-span-6" @input="inputUpper($event)" />
                    <!-- type -->
                    <c-ui.form_elements.select name="type" label="Type" required="true"
                        class="@sm/item:col-span-2 @xl/item:col-span-6" action="true" action_icon="fas fa-plus"
                        action_vars="@click='document.getElementById(`type_dlg`).showModal()'">
                        <option value="">---select---</option>
                        {% for type in types %}
                        <option value="{{type.id}}" {% if type == item.type %}selected{% endif %}>{{ type.name }}</option>
                        {% endfor %}
                    </c-ui.form_elements.select>
                    <!-- code -->
                    <c-ui.form_elements.input name="code" label="Code" value="{{ item.code }}"
                        class=" @xl/item:col-span-4" @input="inputUpper($event)" />
                    <!-- unit -->
                    <c-ui.form_elements.select name="unit_name" label="Unit name" class=" @xl/item:col-span-4"
                        required="true" vars="x-ref='unit_select'">
                        {% for unit in table.get_all_units %}
                        <option value="{{ unit.symbol }}" {% if unit.symbol == item.unit_name %}selected{% endif %}>{{
                            unit.name }}, ({{ unit.symbol }})</option>
                        {% endfor %}
                    </c-ui.form_elements.select>
                    <!-- costing method -->
                    <c-ui.form_elements.select name="costing_method" label="Pricing by" class="@xl/item:col-span-4"
                        required="true">
                        <option value="">---select---</option>
                        <option value="PU" {% if item.costing_method == 'PU' %}selected{% endif %}>Units</option>
                        <option value="BM" {% if item.costing_method == 'BM' %}selected{% endif %}>Measurements</option>
                    </c-ui.form_elements.select>
                </div>
                <!-- measurements -->
                <div class="py-6">
                    <p class="text-sm font-semibold text-gray-700">Measurements</p>
                    <div class="grid justify-items-center gap-y-4 md:flex md:gap-x-4 items-center">
                        <div class="flex items-center gap-x-2">
                            <!-- min height -->
                            <c-ui.form_elements.input name="min_height" placeholder="height" type="number" vars='step="0.01"'
                                value="{{ item.min_height }}" />
                            <span>
                                <i class="fas fa-xmark"></i>
                            </span>
                            <!-- min length -->
                            <c-ui.form_elements.input name="min_length" placeholder="length" type="number" vars='step="0.01"'
                                value="{{ item.min_length }}" />
                        </div>
                        <span class="text-xs font-bold">TO</span>
                        <div class="flex items-center gap-x-2">
                            <!-- max height -->
                            <c-ui.form_elements.input name="max_height" placeholder="height" type="number" vars='step="0.01"'
                                value="{{ item.max_height }}" />
                            <span>
                                <i class="fas fa-xmark"></i>
                            </span>
                            <!-- max length -->
                            <c-ui.form_elements.input name="max_length" placeholder="length" type="number" vars='step="0.01"'
                                value="{{ item.max_length }}" />
                        </div>
                    </div>
                </div>
                <!-- prices -->
                <div class="grid gap-3 @sm/item:grid-cols-2">
                    <!-- fabrication cost -->
                    <c-ui.form_elements.input name="fabrication_cost" label="Fabrication" icon="fas fa-dollar-sign"
                        value="{{ item.fabrication_cost|add_commas }}"
                        vars="x-mask:dynamic='$money($input)' inputmode='numeric'" class="" required="true" />
                    <!-- spraying cost -->
                    <c-ui.form_elements.input name="spraying_cost" label="Spraying" icon="fas fa-dollar-sign"
                        value="{{ item.spraying_cost|add_commas }}"
                        vars="x-mask:dynamic='$money($input)' inputmode='numeric'" class="" required="true" />
                </div>
            </div>
        </div>
        <div class="mt-6">
            <c-ui.button icon="fas fa-save" text="Save" type="submit" />
        </div>
    </form>
</c-ui.dialog>

<div class="px-6 md:hidden last-of-type:pb-6" id="itemCard-{{ item.pk }}">
    <c-ui.card.root id="itemCard-{{ item.pk }}">
        <c-slot name="header">
            <div class="flex gap-x-6 justify-between">
                <div>
                    <h3 class="title-2">{{ item.name }}</h3>
                    <p class="text-muted text-xl">{{ item.code }}</p>
                </div>
                <c-ui.badge text="{{ item.type.name }}" />
            </div>
        </c-slot>
        <div class="grid">
            <div class="flex justify-between">
                <p class="text-muted">Size</p>
                <p class="font-semibold">
                    {% if item.costing_method == 'PU' %}{{ item.get_unit_name_display }} ({{ item.unit_name }})
                    {% else %}
                    <span>({{ item.min_height }} x {{ item.min_length }})</span>
                    <span>-</span>
                    <span>({{ item.max_height }} x {{ item.max_length }})</span>
                    {% endif %}
                </p>
            </div>
            <div class="flex justify-between">
                <p class="text-muted">Fabrication</p>
                <p class="font-semibold">{{ item.fabrication_cost|add_commas }}</p>
            </div>
            <div class="flex justify-between">
                <p class="text-muted">Spraying</p>
                <p class="font-semibold">{{ item.spraying_cost|add_commas }}</p>
            </div>
        </div>
        <c-slot name="footer">
            <div class="flex justify-end">
                <c-ui.button icon="fas fa-edit" size="icon_sm" variant="outline-grey"
                    onclick="document.querySelector('#itemFormDlg-{{ item.pk }}').showModal()" />
            </div>
        </c-slot>
    </c-ui.card.root>
</div>