{% load partials custom_filters %}

{% partialdef itemrow %}

{% endpartialdef %}

<c-layouts.base title="Labor Fees Form">
    <div x-data="{
        types: [],
        items: [],
        activeItem: null,
        table: null,
        async fetchTypes(){
            const response = await GET('{% url 'api:get_all_types' %}', true)
            if (response.ok) {
                this.types = await response.json()
            } else {
                console.error('Failed to fetch item types')
            }
        },
        handleAddItem(){
            let item = {
                id: 0,
                type: null,
                code: null,
                fabrication_cost: null,
                spraying_cost: null,
                costing_method: null,
                unit_name: null,
                min_height: null,
                min_length: null,
                max_height: null,
                max_length: null,
            }
            this.activeItem = item
            document.getElementById('itemFormDlg').showModal()
        },
        editItem(item) {
            this.activeItem = item
            document.getElementById('itemFormDlg').showModal()
        },
        async handleAddType(event){
            const name = event.target[0].value
            const item = {
                name: name
            }
            const response = await POST('{% url 'api:create_type' %}', item, true)
            if (response.ok) {
                const data = await response.json()                
                this.types.push(data)
                document.getElementById(`type_dlg`).close()
            } else {console.error(response.error)}
        },
        async init(){
            this.fetchTypes()
        }
    }">
        <section>
            <div id="token">{% csrf_token %}</div>
            <div class="grid md:flex md:flex-row-reverse gap-3 mb-6">
                <div class="items flex-1">
                    <div class="@container">
                        <c-ui.table.root title="Items" description="Items are priced by measurements or per unit"
                            body_id="itemTableBody" table_class="hidden md:table">
                            <c-slot name="headers">
                                <c-ui.table.th>Name</c-ui.table.th>
                                <c-ui.table.th class="hidden @3xl:table-cell">Type</c-ui.table.th>
                                <c-ui.table.th class="hidden @4xl:table-cell">Code</c-ui.table.th>
                                <c-ui.table.th>Size range</c-ui.table.th>
                                <c-ui.table.th class="text-right">Fabrication</c-ui.table.th>
                                <c-ui.table.th class="text-right">Spraying</c-ui.table.th>
                                <c-ui.table.th></c-ui.table.th>
                            </c-slot>
                            <c-slot name="data">
                                {% for item in table.item_costings.all %}
                                <c-psenec.labour-itemrow />
                                {% endfor %}
                            </c-slot>
                        </c-ui.table.root>
                    </div>
                    <div class="flex justify-end mt-4">
                        <c-ui.button text="Add Item" icon="fas fa-plus" variant="outline-primary" vars="@click='handleAddItem()'" />
                    </div>
                    <c-ui.dialog id="itemFormDlg" size="xl">
                        <form hx-post="{% url 'LabourCostings:labor-table-edit' table.id %}" hx-target="#itemTableBody"
                            hx-indicator="#action_loader" hx-swap="beforeend transition:true"
                            @submit="document.querySelector('#itemFormDlg').close()" x-data>
                            {% csrf_token %}
                            <div class="@container/item">
                                <div class="grid gap-4">
                                    <div class="grid gap-3 @sm/item:grid-cols-2 @xl/item:grid-cols-12">
                                        <!-- item id -->
                                        <input type="text" class="hidden" name="id">
                                        <!-- name -->
                                        <c-ui.form_elements.input name="name" label="Name" required="true"
                                            class="@sm/item:col-span-2 @xl/item:col-span-6"
                                            x-mask:dynamic="$input.toUpperCase()" />
                                        <!-- type -->
                                        <c-ui.form_elements.select name="type" label="Type" required="true"
                                            class="@sm/item:col-span-2 @xl/item:col-span-6" action="true"
                                            action_icon="fas fa-plus"
                                            action_vars="@click='document.getElementById(`type_dlg`).showModal()'">
                                            <option value="">---select---</option>
                                            {% for type in types %}
                                            <option value="{{type.id}}">{{ type.name }}</option>
                                            {% endfor %}
                                        </c-ui.form_elements.select>
                                        <!-- code -->
                                        <c-ui.form_elements.input name="code" label="Code" value="{{ item.code }}"
                                            class=" @xl/item:col-span-4" />
                                        <!-- unit -->
                                        <c-ui.form_elements.select name="unit_name" label="Unit name"
                                            class=" @xl/item:col-span-4" required="true" vars="x-ref='unit_select'">
                                            {% for unit in table.get_all_units %}
                                            <option value="{{ unit.symbol }}" {% if unit.symbol == 'm' %}selected{% endif %}>{{ unit.name }}, ({{ unit.symbol }})
                                            </option>
                                            {% endfor %}
                                        </c-ui.form_elements.select>
                                        <!-- costing method -->
                                        <c-ui.form_elements.select name="costing_method" label="Pricing by"
                                            class="@xl/item:col-span-4" required="true">
                                            <option value="">---select---</option>
                                            <option value="PU">Units</option>
                                            <option value="BM">Measurements</option>
                                        </c-ui.form_elements.select>
                                    </div>
                                    <!-- measurements -->
                                    <div class="py-6">
                                        <p class="text-sm font-semibold text-gray-700">Measurements</p>
                                        <div class="grid justify-items-center gap-y-4 md:flex md:gap-x-4 items-center">
                                            <div class="flex items-center gap-x-2">
                                                <!-- min height -->
                                                <c-ui.form_elements.input name="min_height" placeholder="height"
                                                    type="number" vars='step="0.01"' />
                                                <span>
                                                    <i class="fas fa-xmark"></i>
                                                </span>
                                                <!-- min length -->
                                                <c-ui.form_elements.input name="min_length" placeholder="length"
                                                    type="number" vars='step="0.01"' />
                                            </div>
                                            <span class="text-xs font-bold">TO</span>
                                            <div class="flex items-center gap-x-2">
                                                <!-- max height -->
                                                <c-ui.form_elements.input name="max_height" placeholder="height"
                                                    type="number" vars='step="0.01"' />
                                                <span>
                                                    <i class="fas fa-xmark"></i>
                                                </span>
                                                <!-- max length -->
                                                <c-ui.form_elements.input name="max_length" placeholder="length"
                                                    type="number" vars='step="0.01"' />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- prices -->
                                    <div class="grid @sm/item:grid-cols-2">
                                        <!-- fabrication cost -->
                                        <c-ui.form_elements.input name="fabrication_cost" label="Fabrication"
                                            icon="fas fa-dollar-sign" x-mask:dynamic='$money($input)'
                                            inputmode='numeric' class="" required="true" />
                                        <!-- spraying cost -->
                                        <c-ui.form_elements.input name="spraying_cost" label="Spraying"
                                            icon="fas fa-dollar-sign" x-mask:dynamic='$money($input)'
                                            inputmode='numeric' class="" required="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="mt-6">
                                <c-ui.button icon="fas fa-save" text="Save" type="submit" />
                            </div>
                        </form>
                    </c-ui.dialog>
                </div>
            </div>

        </section>
        <c-ui.dialog id="type_dlg" size="sm">
            <form class="grid gap-y-2" @submit.prevent="handleAddType(event)">
                <p class="pb-4">An item type name e.g Door, Window is required</p>
                <c-ui.form_elements.input label="Name" name="name" required="true" />
                <c-ui.button icon="fas fa-save" text="Save" type="submit" vars="formmethod='dialog'" />
            </form>
        </c-ui.dialog>
    </div>
</c-layouts.base>