{% load static partials custom_filters %}



<c-layouts.base title="Labor Fees Table">
    <div>
        <div class="flex items-center justify-between">
            <div></div>
            {% if not labor_fees.count %}
            <div>
                <c-slot name="links">
                    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/nocss/litepicker.js"></script>
                </c-slot>
                <c-ui.dialog label="Add a Table" id="add-table">
                    <form action="{% url 'LabourCostings:labor-table-create' %}" method="post"
                        class="grid gap-6 @container">
                        <p>
                            Make sure there is no table that is conflicting with this new one
                        </p>
                        {% csrf_token %}
                        {% if errors %}
                        <ul class="text-red-500 mb-6 space-y-2">
                            {% for error in errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="grid gap-6 @xl:grid-cols-2">
                            <c-ui.form_elements.input label="Start Date" type="date" name="effective_start_date"
                                required="true" />
                            <c-ui.form_elements.input label="End Date" type="date" name="effective_end_date"
                                required="true" />
                        </div>
                        <!-- <c-ui.form_elements.input label="Date Range" type="text" name="effective_date_range" required="true" id="litepicker" />
                        <div id="datepicker"></div> -->
                        <c-ui.button type="submit" text="Create Table" icon="fas fa-plus" />

                        <!-- light picker script -->
                        <!-- <script>
                            const picker = new Litepicker({
                                element: document.getElementById('litepicker'),
                                showWeekNumbers: true,
                                parentEl: document.getElementById('datepicker'),
                                startDate: '',
                                endDate: '',
                            });
                        </script> -->
                    </form>
                </c-ui.dialog>
            </div>
            {% endif %}
        </div>
        {% if labor_fees %}
        {% for table in labor_fees %}
        {% if table.item_costings.all %}
        <c-psenec.labor-table />
        {% else %}
        <div class="grid place-content-center gap-6">
            <p class="text-xl text-center">
                Table {{ table.id }}: {{ table.effective_start_date|date:"M d, Y" }} - {{
                table.effective_end_date|date:"M d, Y" }} has no items.
            </p>
            <div class="grid justify-center">
                <a href="{% url 'LabourCostings:labor-table-edit' table.id %}">
                    <c-ui.button text="Get started adding items" />
                </a>
            </div>
        </div>
        {% endif %}

        {% endfor %}
        {% else %}
        <p class="text-3xl">
            No active labor table, create one to continue
        </p>
        {% endif %}
    </div>
</c-layouts.base>