{% load static partials custom_filters %}

{% partialdef item_row %}
<c-ui.table.tr id="itemRow-{{ item.pk }}" class="slide-up">
    <c-ui.table.td>{{ item.name }}</c-ui.table.td>
    <c-ui.table.td>{{ item.type.name }}</c-ui.table.td>
    <c-ui.table.td>{{ item.code }}</c-ui.table.td>
    <c-ui.table.td>
        {% if item.costing_method == 'PU' %}{{ item.get_unit_name_display }} ({{ item.unit_name }})
        {% else %}
        <span>({{ item.min_height }} x {{ item.min_length }})</span>
        <span>-</span>
        <span>({{ item.max_height }} x {{ item.max_length }})</span>
        {% endif %}
    </c-ui.table.td>
    <c-ui.table.td class="text-right">{{ item.fabrication_cost|add_commas }}</c-ui.table.td>
    <c-ui.table.td class="text-right">{{ item.spraying_cost|add_commas }}</c-ui.table.td>
</c-ui.table.tr>
{% endpartialdef %}

<c-layouts.base title="Labor Fees Table">
    <div>
        <div class="flex items-center justify-between">
            <div></div>
            {% if not labor_fees.count %}
            <div>
                <c-slot name="links">
                    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/nocss/litepicker.js"></script>
                </c-slot>
                <c-ui.dialog label="Add a Table" id="add-table">
                    <form action="{% url 'LabourCostings:labor-table-create' %}" method="post"
                        class="grid gap-6 @container">
                        <p>
                            Make sure there is no table that is conflicting with this new one
                        </p>
                        {% csrf_token %}
                        {% if errors %}
                        <ul class="text-red-500 mb-6 space-y-2">
                            {% for error in errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="grid gap-6 @xl:grid-cols-2">
                            <c-ui.input label="Start Date" type="date" name="effective_start_date" required="true" />
                            <c-ui.input label="End Date" type="date" name="effective_end_date" required="true" />
                        </div>
                        <!-- <c-ui.input label="Date Range" type="text" name="effective_date_range" required="true" id="litepicker" />
                        <div id="datepicker"></div> -->
                        <c-ui.button type="submit" text="Create Table" icon="fas fa-plus" />

                        <!-- light picker script -->
                        <!-- <script>
                            const picker = new Litepicker({
                                element: document.getElementById('litepicker'),
                                showWeekNumbers: true,
                                parentEl: document.getElementById('datepicker'),
                                startDate: '',
                                endDate: '',
                            });
                        </script> -->
                    </form>
                </c-ui.dialog>
            </div>
            {% endif %}
        </div>
        {% if labor_fees %}
        {% for table in labor_fees %}
        {% if table.item_costings.all %}
        <c-ui.table.root title="Table {{ table.id }}: {{ table.effective_start_date|date:" M d, Y" }} - {{ table.effective_end_date|date:"M d, Y" }}">
            <c-slot name="vars">
                <a href="{% url 'LabourCostings:labor-table-edit' table.pk %}">
                    <c-ui.button icon="fas fa-edit" size="icon_sm" variant="outline-primary" />
                </a>
            </c-slot>
            <c-slot name="headers">
                <c-ui.table.th>Name</c-ui.table.th>
                <c-ui.table.th>Type</c-ui.table.th>
                <c-ui.table.th>Code</c-ui.table.th>
                <c-ui.table.th>Size range</c-ui.table.th>
                <c-ui.table.th class="text-right">Fabrication</c-ui.table.th>
                <c-ui.table.th class="text-right">Spraying</c-ui.table.th>
            </c-slot>
            <c-slot name="data">
                {% for item in table.item_costings.all %}
                {% partial item_row %}
                {% empty %}
                <p class="text-lg">no items yet</p>
                {% endfor %}
            </c-slot>
        </c-ui.table.root>
        {% else %}
        <div class="grid place-content-center gap-6">
            <p class="text-xl text-center">
                Table {{ table.id }}: {{ table.effective_start_date|date:"M d, Y" }} - {{
                table.effective_end_date|date:"M d, Y" }} has no items.
            </p>
            <div class="grid justify-center">
                <a href="{% url 'LabourCostings:labor-table-edit' table.id %}">
                    <c-ui.button text="Get started adding items" />
                </a>
            </div>
        </div>

        {% endif %}
        {% endfor %}
        {% else %}
        <p class="text-3xl">
            No active labor table, create one to continue
        </p>
        {% endif %}
    </div>
</c-layouts.base>